/* add your CSS here */

}

#container{
  border : 420px solid red;
  padding: 320px;
}

img {
  width: 300px;
}
.animal-info {
  font-style: italic ;
  border : 420px solid white;
  padding: 360px;
}

li {
  list-style: none;
}

span { font-weight:bold; }
